* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    text-decoration: none;
}

/* Navbar */
#navbar {
    width: 100%;
    top: 0;
    left: 0;
    padding: 10px 26px 0px 26px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all var(--animation-duration) ease-in-out;
}

nav .logo {
    width: 180px;
}

#navbar.navbar--white,
#navbar.navbar--white ul li a,
#navbar.navbar--white > .navbar__login a{
    background-color: rgba(0, 0, 0, 0.5);
    color: #000;
}


.navbar__menu ul {
    margin-right: 172px;
}

.navbar__menu ul li {
    display: flex;
    text-align: center;
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

.navbar__menu ul li a{
    text-decoration: none;
    color: #000;
    font-size: 17px;
}

.navbar__login a{
    font-size: 13px;
    line-height: 27px;
    font-weight: 500;
    color: #000;
    margin-right: 20px;
    text-decoration: none;
}






/* Footer */
.footer__virtual {
    margin-bottom: 50px;
}

.container__footer{
	max-width: 100%;
	margin:auto;
}

.row{
	display: flex;
	justify-content: start;
}

ul{
	list-style: none;
}

.footer{
    background-color: #191F28;
}

.container__footer {
    padding: 50px 67px 50px 67px;
    margin-left: 55px;
    margin-right: 55px;
}

.footer-col{
    width: 15%;
}

.footer-col h4{
	font-size: 18px;
	color: #B0B8C1;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
    font-family: 'Roboto', sans-serif;
}

.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #0057D9;
	height: 2px;
	box-sizing: border-box;
	width: 85px;
}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}

.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #000000;
	text-decoration: none;
	font-weight: 300;
	color: #8B95A1;
	display: block;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}

.footer__row2--subcontainer strong {
    padding-top: 50px;
    color: #B0B8C1;
}

.subcontainer__p {
    color: #6B7684;
    font-size: 13px;
}

.subcontainer__pp {
    color: #6B7684;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    padding-bottom: 30px;
}

.social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(65,73,85,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: rgb(130, 133, 138);
	transition: all 0.5s ease;
}

.social-links a:hover{
	color: rgb(186, 187, 190);
	background-color: rgb(82, 92, 104);
}